In [1]:
import numpy as np
import pandas as pd

In [2]:
df1= pd.read_csv('data\ex1.csv')
df1

  number  a   b     c   d message
0    one  1   2   3.0   4     NaN
1    two  5   6   NaN   8   hello
2  three  9  10  11.0  12   world

In [4]:
df1= pd.read_csv('data\ex1.txt',sep='\t')
df1

  number  a   b     c   d message
0    one  1   2   3.0   4     NaN
1    two  5   6   NaN   8   hello
2  three  9  10  11.0  12   world

In [5]:
# Đọc hết dữ liệu
df2 = pd.read_csv('data\daily_weather.csv', sep=',')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   number                  1095 non-null   int64
 1   air_pressure_9am        1092 non-null   float64
 2   air_temp_9am            1090 non-null   float64
 3   avg_wind_direction_9am  1091 non-null   float64
 4   avg_wind_speed_9am      1092 non-null   float64
 5   max_wind_direction_9am  1092 non-null   float64
 6   max_wind_speed_9am      1091 non-null   float64
 7   rain_accumulation_9am   1089 non-null   float64
 8   rain_duration_9am       1092 non-null   float64
 9   relative_humidity_9am   1095 non-null   float64
 10  relative_humidity_3pm   1095 non-null   float64
dtypes: float64(10), int64(1)
memory usage: 94.2 KB

In [5]:
# Đọc file và xác định index_col, nrows
# index_col: cột dùng làm index, có thể là chỉ số cột (index ngầm hiểu) hoặc nhãn cột
df2 = pd.read_csv('daily_weather.csv', index_col =0,nrows=100) # tương đương index_col = 'number' 
print(df2.shape, type(df2))

(100, 10) <class 'pandas.core.frame.DataFrame'>

In [6]:
df2.head()

,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
number,,,,,,,,,,
0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,36.160000
1,917.347688,71.403843,101.935179,2.443009,140.471549,3.533324,0.0,0.0,24.328697,19.426597
2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,14.460000
3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,12.742547
4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,76.740000

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 10 columns):
air_pressure_9am          100 non-null float64
air_temp_9am              99 non-null float64
avg_wind_direction_9am    100 non-null float64
avg_wind_speed_9am        100 non-null float64
max_wind_direction_9am    100 non-null float64
max_wind_speed_9am        100 non-null float64
rain_accumulation_9am     100 non-null float64
rain_duration_9am         100 non-null float64
relative_humidity_9am     100 non-null float64
relative_humidity_3pm     100 non-null float64
dtypes: float64(10)
memory usage: 8.6 KB

In [8]:
df2.describe(include='all')

,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
count,100.000000,99.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,919.048823,64.134197,145.220270,5.497157,153.952431,6.944654,0.208322,347.593272,36.280098,36.096657
std,3.123951,12.384843,64.850380,4.548980,64.558226,5.461645,1.248319,1722.760240,27.380232,22.652102
min,911.000000,38.138000,36.174175,0.939515,37.400000,1.482194,0.000000,0.000000,7.540000,7.187361
25%,916.787500,53.735000,71.576483,2.155190,84.780335,2.884292,0.000000,0.000000,14.900198,18.020105
50%,918.825168,65.876000,168.050000,3.798313,184.400000,4.999561,0.000000,0.000000,24.494349,28.410000
75%,921.431097,73.338939,183.925000,7.580915,196.875000,8.680780,0.000000,0.000000,50.380000,49.922500
max,927.610000,91.112000,277.800000,23.554978,295.400000,29.840780,8.900000,14730.000000,92.410000,90.990000

In [9]:
# Ghi file csv
df3 = df2.loc[df2['rain_duration_9am'] > 0]
print(df3)
df3.to_csv(r'data\rain_duration_9am.csv')

        air_pressure_9am  air_temp_9am  avg_wind_direction_9am  \
number
2             923.040000     60.638000               51.000000
4             921.160000     44.294000              277.800000
5             915.300000     78.404000              182.800000
11            915.640000     45.716000              241.600000
27            914.900000     78.620000              203.300000
38            914.660000     50.360000              177.600000
42            921.500000     49.550000               90.700000
46            917.900000     65.660000              183.700000
55            916.420000     45.014000               82.800000
61            918.540000     46.652000              213.600000
71            925.097126     57.133499               52.968933
72            920.742823     74.515376               51.422719
74            922.790000     53.978000              182.600000
85            916.820000     50.288000               73.700000
86            917.268306     85.661630              266.493462
87            921.390000     76.082000              225.100000
88            915.914436     69.388873               46.736171
97            921.540000     43.160000               52.500000
98            916.520000     51.638000              190.800000

        avg_wind_speed_9am  max_wind_direction_9am  max_wind_speed_9am  \
number
2                17.067852               63.700000           22.100967
4                 1.856660              136.500000            2.863283
5                 9.932014              189.000000           10.983375
11                5.860783              265.800000            8.030615
27                1.811921              240.000000            2.751436
38                8.522741              186.300000           10.021491
42                1.744813              112.300000            2.684328
46                6.062107              188.500000            6.509495
55                3.064608              129.800000            4.809421
61               16.486248              221.200000           18.029736
71               14.618307               69.007057           19.214314
72               13.876094               66.854763           16.986178
74                1.856660              208.200000            2.639589
85                2.684328               90.400000            3.422518
86                2.158058              194.702511            2.829140
87                1.901399              251.100000            2.572481
88               10.976951               64.644682           14.297617
97               23.554978               68.000000           29.840780
98                7.404271              198.000000            8.388525

        rain_accumulation_9am  rain_duration_9am  relative_humidity_9am  \
number
2                    0.000000          20.000000               8.900000
4                    8.900000       14730.000000              92.410000
5                    0.020000         170.000000              35.130000
11                   0.550000        1770.000000              90.560000
27                   0.000000         220.000000              47.890000
38                   0.000000          20.000000              91.220000
42                   1.530000        5420.000000              34.350000
46                   0.021000         319.000000              74.220000
55                   8.740000        7000.000000              57.710000
61                   0.080000        1153.000000              91.360000
71                   0.000000           1.540448              18.642306
72                   0.010000          75.862953               9.406636
74                   0.020000         180.000000              17.390000
85                   0.470000        1030.000000              58.730000
86                   0.031174          70.526650              31.218566
87                   0.040000         300.000000              47.520000
88                   0.000000           9.397157               8.498335
97                   0.050000         100.000000              19.380000
98                   0.370000        2170.000000              91.690000

        relative_humidity_3pm
number
2                   14.460000
4                   76.740000
5                   33.930000
11                  79.090000
27                  43.900000
38                  88.350000
42                  49.500000
46                  69.190000
55                  41.800000
61                  89.930000
71                  18.064226
72                   8.283813
74                  39.190000
85                  63.440000
86                  23.408578
87                  19.940000
88                  12.698546
97                  18.380000
98                  78.510000

In [10]:
# Đọc file Excel

df3 = pd.read_excel('first_data_excel.xlsx', index_col = 0, encoding='utf-8')
print(df3.shape, type(df3))

(5, 3) <class 'pandas.core.frame.DataFrame'>

In [ ]:
print(df3)

In [15]:
# Đọc file Excel có nhiều sheet
df4 = pd.read_excel('data\movies.xlsx', 'movies')
print(df4.shape, type(df4))
## nếu muốn đọc nhiều sheet trong file thì dùng hàm pd.ExcelFile trước 
#xlsx = pd.ExcelFile('data\movies.xlsx')
#df4 = pd.read_excel(xlsx, 'movies')
print(df4.head())

(9125, 3) <class 'pandas.core.frame.DataFrame'>
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy

In [18]:
# Ghi file Excel
df5 = df4.head(10)
df5.to_excel(r'data\movies_sub.xlsx', "movies")